<html>
    <head>
        <title>Gaby made a first web page</title>
    </head>
    <body>
        <div>
            <h1><a href="/">what a lovely web</a></h1>
        </div>

        <div>
            <p>published: 02.06.19, now</p>
            <h2><a href="">My first post</a></h2>
            <p>actually they fly to Norway tomorrow. that's awesome .</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>and it's wonderful .</p>
        </div>
    </body>
</html>